@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", sans-serif !important;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 100px;
    z-index: 2;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav ul a {
    font-size: 18px;
    color: #fff;
    text-decoration-line: none;
    padding: 30px 20px;
    display: block;
    transition: all .3s ease-out;
}

nav ul a:hover {
    color: #eb53ac;
}

nav img {
    max-height: 60px;
    object-fit: cover;
}

.container1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container1 h1 {
    text-align: center;
    font-size: 62px;
    color: #fff;
    font-weight: 700;
}

#predictButton {
    background: #fff;
    min-width: 200px;
    color: #eb53ac;
    transition: all .3s ease-out;
    border-radius: 30px;
    padding: 12px;
    font-weight: 500;
    font-size: 18px;
}


#predictButton:hover {
    background: #eb53ac;
    color: #fff;
}

.front {
    position: relative;
}

.front img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: top center;
    position: relative;
}

.front::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, #ffa334 100%);
    z-index: 1;
    height: 100%;
    width: 100%;
}

#predictionForm {
    background: #fff;
    position: absolute;
    top: 0;
    z-index: 3;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 20px;
}

#predictionForm h2 {
    font-size: 30px;
    text-align: center;
    color: #434343;
}

#container {
    max-width: 500px;

    margin: 20px auto;
    padding: 50px;
    /* background-color: #fff; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}

#wineForm {
    display: flex;
    justify-content: center;
    gap: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #434343;
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    min-width: 250px;
    margin-bottom: 20px;
}

input:focus-within {
    border: 1px solid #eb53ac;
}

.login-btn {
    background: #fff;
    padding: 6px 12px;
    border-radius: 30px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #eb53ac;
    transition: all .3s ease-out;
}

.login-btn:hover {
    background: #eb53ac;
    color: #fff;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border: 1px solid #434343;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us {
    background-color: wheat;
}