@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", sans-serif !important;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./../static/images/pattern.png);
    background-size: cover;
    background-position: top center;
}

.login-form {
    min-width: 450px;
    margin: 0 auto;
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-weight: 500;
}

input[type="text"],
input[type="password"] {
    padding: 8px;
    margin-bottom: 15px;
    width: calc(100% - 0px);
    border-radius: 8px;
    border: 1px solid #ddd;
}

/* button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
} */