<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Wine Quality Prediction System</title>
    <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form id="loginForm" action="login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <span>{{msgW}}</span>
            <button type="submit" value="Login">Login</button>
        </form>
        <div id="loginResult"></div>
        <a href="{{ url_for('register') }}">Not registered yet? Register here</a>
    </div>

    
</body>
</html> 

